<div class='item-html-js hide'>
  <div class="tt-item">
    <a href="#" title="{{ 'cart.header.view_product' | t }}">
      <div class="tt-item-img">
        img
      </div>
      <div class="tt-item-descriptions">
        <div class="d-flex justify-content-between">
          <h2 class="tt-title">title</h2>
          <div class="tt-item-close">
            <a href="/cart/change?id=0&quantity=0" class="tt-btn-close svg-icon-delete header_delete_cartitem_js" title="{{ 'cart.header.button_delete' | t }}">
              {% include "svg-delete-icon" %}
            </a>
          </div>
        </div>

        <ul class="tt-add-info">
          <li class="details">details</li>
        </ul>

        <div class="d-flex justify-content-between">
          <div class="tt-price">price</div>
          <div class="tt-quantity" style="display: block">x <span class="qty">qty</span></div> 
        </div>
      </div>
    </a>
  </div>
</div>