<!-- modal-preorder-info -->
<div class="modal fade" id="modal-preorder-info" tabindex="-1" role="dialog" aria-label="modal-preorder-info"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="icon icon-clear"></span>
                </button>
            </div>
            <div class="modal-body preorder-info">
                <div class="text-left title mb-3">Pre-order Item</div>
                <div class="text-left description mb-3">
                    Please note that the listed price is an estimation. For more information on pricing, please contact
                    us on Whatsapp.
                </div>
                <div>
                    <button type="button" class="btn btn-primary-green btn-lg btn-block btn-lg" data-dismiss="modal"
                            aria-hidden="true">Ok, got it
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .preorder-info .title {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.03px;
        font-weight: 700;
        color: #000000E5;
    }

    .preorder-info .description {
        font-size: 14px;
        color: #000000;
    }
</style>