<!-- modal (ModalPreloved) -->
<div class="modal fade" id="modalPreloved" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
      </div>
      <div class="modal-body">
        <div class="tt-modal-addtocart">
          <div class="tt-modal-messages text-left">
            <h4>Condition Guide for Preloved Items</h4>
            <h6 class="p-0">Never Been Used</h6>
            <p class="mt-3 mb-4">Preloved item but it has never been used, it really looks like a brand new item and comes complete with original inclusions (i.e. tags/labels/box). Item is considered to be in giftable condition. Original receipt inclusion is a plus but not mandatory, if unavailable.</p>
            <h6 class="p-0">Like New</h6>
            <p class="mt-3 mb-4">Preloved item but it has only been worn a few times, looks like new with no visible scratches or marks on surface and hardware. Original receipt inclusion is a plus but not mandatory, if unavailable.</p>
            <h6 class="p-0">Excellent</h6>
            <p class="mt-3 mb-4">Preloved item which has very minor signs of use and still in excellent condition. Item has no visible defect nor noticeable scratches or marks on the surface and hardware.</p>
            <h6 class="p-0">Very Good</h6>
            <p class="mt-3">Preloved item which shows slight signs of wear, with light scratches or marks on surface and hardware but still very much acceptable.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
