{% layout none %}
{%- assign handles = current_tags | first | split: '||' -%}
<style>
  .tt-recently-products-js.desktop {
    display: none;
  }
  .tt-recently-products-js.mobile {
    justify-content: flex-start;
    overflow: auto;
    width: 100vw;
    flex-wrap: nowrap;
    white-space: nowrap;
    display: flex;
  }
  .tt-recently-products-js.mobile::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  .tt-recently-products-js.mobile::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .tt-recently-products-js.mobile .tt-product {
    white-space: normal;
  }
  .tt-recently-products-js.mobile .tt-description .tt-price {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
  }
  .tt-recently-products-js.mobile .tt-description .tt-price .new-price {
    width: 100%;
    margin: 0;
  }
  .tt-recently-products-js.mobile .tt-description .tt-price .old-price {
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    margin-top: 6px;
    color: #364158;
  }
  .tt-recently-products-js.mobile .tt-description .jdgm-prev-badge,
  .tt-recently-products-js.desktop .tt-description .jdgm-prev-badge {
    text-align: left;
  }
  .tt-recently-products-js.mobile .tt-description .jdgm-prev-badge__text {
    display: none;
  }
  .tt-recently-products-js.desktop .tt-product span.tt-img,
  .tt-recently-products-js.mobile .tt-product span.tt-img {
    height: auto !important;
  }
  @media screen and (min-width: 480px) {
    .tt-recently-products-js.mobile {
      display: none;
    }
    .tt-recently-products-js.desktop {
      display: block;
    }
    .tt-recently-products-js.desktop .tt-description .tt-price {
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      margin-top: 8px;
    }
  }
</style>

<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-layout-product-item tt-recently-products-js mobile">
  {%- for handle in handles -%}
  {%- assign product = all_products[handle] -%}
  {%- if product.title != blank -%}<div class="col-5 col-md-4 col-lg-3">{%- include 'product-grid-item' -%}</div>{%- endif -%}
  {%- endfor -%}
</div>

<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-layout-product-item tt-recently-products-js desktop">
  {%- for handle in handles -%}
  {%- assign product = all_products[handle] -%}
  {%- if product.title != blank -%}<div class="col-5 col-md-4 col-lg-3">{%- include 'product-grid-item' -%}</div>{%- endif -%}
  {%- endfor -%}
</div>
