<div class="tt-offset-small">
  <div class="container nopadding">
    <div class="banner-wrapper">
      <a href="/blogs/promotion/last-chance" target="_blank" rel="noopener noreferrer">
        <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/slider-desktop_ebee89fb-dee1-4e49-9b57-ddd55681596d.jpg?v=1677170415" class="ls-is-cached lazyloaded" />
      </a>
    </div>
  </div>
  <div class="container">
    <div class="collection-list">
      <h5>LAST CHANCE EXTRA 30% OFF</h5>
      <div class="{% if item.boxed_buttons and item.fullwidth %}slboxedbuttons {% endif %}tt-carousel-products-js row arrow-location-tab tt-alignment-img tt-layout-product-item slick-animated-show-js special-pick desktop-slider">
        {%- for product in collection.products limit: length -%}
        <div class="forsliders-margins">
          {%- include "product-grid-item" -%}
        </div>
        {%- endfor -%}
      </div>
      <div class="mobile-only row tt-layout-product-item{% if item.items_always_in_center %} justify-content-center{% endif %}">
        {%- for product in collection.products limit: length -%}
        <div class="col-5 col-md-4 {% if grid == '5' %}col-5-inrow-lg{% else %}col-lg-{{ grid }}{% endif %}">
          {%- include "product-grid-item" -%}
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="nav-gender">
      <div class="row">
        <div class="col">
          <div id="genderWomen" class="text-center py-3 btn-gender active">
            Women
          </div>
        </div>
        <div class="col">
          <div id="genderMen" class="text-center py-3 btn-gender">
            Men
          </div>
        </div>
      </div>
    </div>

    <div id="womenDeals" class="active">
      <div class="collection-list">
        <div class="custom-block-title text-left">
          <div>
            <h5 class="ct-title no-translate">Apparel Last Offer</h5>
          </div>
          <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-last-chance" class="link-see-all" title="See All">See All</a>
        </div>
        <div class="tt-carousel-products-js arrow-location-tab text-center desktop-slider">
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-xxxs-xxs">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XXS_06faac6d-bc85-43bc-8b79-09d7691425e9.jpg?v=1677236284" alt="Apparel Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-xs">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XS_cc99d09b-9387-497d-bb6b-fb30138daed5.jpg?v=1677236284" alt="Apparel Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-s">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/S_152d5b8a-1694-42d3-a83e-5cc94d6d0580.jpg?v=1677236284" alt="Apparel Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-m">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/M_c8116200-4334-42e6-bbfe-69052ea7817e.jpg?v=1677236285" alt="Apparel Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-l">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/L_d18b4a08-1ba0-45f4-9f16-748ff676ea6f.jpg?v=1677236284" alt="Apparel Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-xl-xxl">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XL_54bdd1fe-79ec-4204-9d45-c69649003b4a.jpg?v=1677236284" alt="Apparel Last Offer">
            </a>
          </div>
        </div>
        <div class="mobile-only text-center row tt-layout-product-item{% if item.items_always_in_center %} justify-content-center{% endif %}">
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-xxxs-xxs">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XXS_06faac6d-bc85-43bc-8b79-09d7691425e9.jpg?v=1677236284" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-xs">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XS_cc99d09b-9387-497d-bb6b-fb30138daed5.jpg?v=1677236284" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-s">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/S_152d5b8a-1694-42d3-a83e-5cc94d6d0580.jpg?v=1677236284" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-m">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/M_c8116200-4334-42e6-bbfe-69052ea7817e.jpg?v=1677236285" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-l">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/L_d18b4a08-1ba0-45f4-9f16-748ff676ea6f.jpg?v=1677236284" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/women-apparel-xl-xxl">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XL_54bdd1fe-79ec-4204-9d45-c69649003b4a.jpg?v=1677236284" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="collection-list">
        <div class="custom-block-title text-left">
          <div>
            <h5 class="ct-title no-translate">Footwear Last Offer</h5>
          </div>
          <a target="_blank" rel="noopener noreferrer" href="/collections/women-footwear-last-chance" class="link-see-all" title="See All">See All</a>
        </div>
        <div class="tt-carousel-products-js arrow-location-tab text-center desktop-slider">
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/women-footwear-35">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/35_ddb47e93-a82e-4b3b-8e76-9eb0ba8b315f.jpg?v=1677236284" alt="Footwear Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/women-footwear-36">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/36_400e1af3-4e28-4bb3-b4b9-233806aa32c0.jpg?v=1677236284" alt="Footwear Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/women-footwear-37">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/37_bde5ad25-55f3-4d45-b7f7-271bf419cda3.jpg?v=1677236284" alt="Footwear Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/women-footwear-38">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/38_37b4d571-795a-4205-92cf-d0c940462a28.jpg?v=1677236284" alt="Footwear Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/woman-footwear-39-41">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/39-41_af83e7ae-1f4c-44aa-9a6e-bdebc926b3f7.jpg?v=1677236285" alt="Footwear Last Offer">
            </a>
          </div>
        </div>
        <div class="mobile-only text-center row tt-layout-product-item{% if item.items_always_in_center %} justify-content-center{% endif %}">
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/women-footwear-35">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/35_ddb47e93-a82e-4b3b-8e76-9eb0ba8b315f.jpg?v=1677236284" alt="Footwear Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/women-footwear-36">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/36_400e1af3-4e28-4bb3-b4b9-233806aa32c0.jpg?v=1677236284" alt="Footwear Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/women-footwear-37">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/37_bde5ad25-55f3-4d45-b7f7-271bf419cda3.jpg?v=1677236284" alt="Footwear Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/women-footwear-38">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/38_37b4d571-795a-4205-92cf-d0c940462a28.jpg?v=1677236284" alt="Footwear Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/woman-footwear-39-41">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/39-41_af83e7ae-1f4c-44aa-9a6e-bdebc926b3f7.jpg?v=1677236285" alt="Footwear Last Offer">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="menDeals" class="hide">
      <div class="collection-list">
        <div class="custom-block-title text-left">
          <div>
            <h5 class="ct-title no-translate">Apparel Last Offer</h5>
          </div>
          <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-last-chance" class="link-see-all" title="See All">See All</a>
        </div>
        <div class="tt-carousel-products-js arrow-location-tab text-center desktop-slider">
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-xxs-xs">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XS_5b483743-d9a9-47a8-95dd-8b0beff905ef.jpg?v=1677236844" alt="Apparel Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-s">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/S_40a35064-e8e1-424c-bbc8-a2130aee1e03.jpg?v=1677236844" alt="Apparel Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-m">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/M_168b1670-5883-4a5b-ac2e-4f67d4ff4b84.jpg?v=1677236844" alt="Apparel Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-l">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/L_ad050f2e-ddb2-40d0-964e-887e08c26d89.jpg?v=1677236844" alt="Apparel Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-xl">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XL_8d38d954-0a0b-441f-8714-155bf3e3616c.jpg?v=1677236845" alt="Apparel Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-xxl-xxxl">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XXL_f613cf56-dc5a-4b94-835d-b66acc7dd284.jpg?v=1677236844" alt="Apparel Last Offer">
            </a>
          </div>
        </div>
        <div class="mobile-only text-center row tt-layout-product-item{% if item.items_always_in_center %} justify-content-center{% endif %}">
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-xxs-xs">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XS_5b483743-d9a9-47a8-95dd-8b0beff905ef.jpg?v=1677236844" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-s">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/S_40a35064-e8e1-424c-bbc8-a2130aee1e03.jpg?v=1677236844" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-m">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/M_168b1670-5883-4a5b-ac2e-4f67d4ff4b84.jpg?v=1677236844" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-l">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/L_ad050f2e-ddb2-40d0-964e-887e08c26d89.jpg?v=1677236844" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-xl">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XL_8d38d954-0a0b-441f-8714-155bf3e3616c.jpg?v=1677236845" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-apparel-xxl-xxxl">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/XXL_f613cf56-dc5a-4b94-835d-b66acc7dd284.jpg?v=1677236844" alt="Apparel Last Offer">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="collection-list">
        <div class="custom-block-title text-left">
          <div>
            <h5 class="ct-title no-translate">Footwear Last Offer</h5>
          </div>
          <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-last-chance" class="link-see-all" title="See All">See All</a>
        </div>
        <div class="tt-carousel-products-js arrow-location-tab text-center desktop-slider">
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-40">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/40_a057efda-5f61-45e6-9c1d-ccc9dec3b51d.jpg?v=1677236844" alt="Footwear Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-41">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/41_14f00a56-246b-4feb-8404-185ab73f344c.jpg?v=1677236844" alt="Footwear Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-42">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/42_849033e8-a9f9-4714-bb6a-cbc31d4d9fcf.jpg?v=1677236844" alt="Footwear Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-43">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/43_45b599da-2bbe-44b0-a70b-75874a196533.jpg?v=1677236844" alt="Footwear Last Offer">
            </a>
          </div>
          <div class="collection-container">
            <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-44-45">
              <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/44-45_8acb656f-7baf-49ad-8bcd-32d3f7329bf3.jpg?v=1677236844" alt="Footwear Last Offer">
            </a>
          </div>
        </div>
        <div class="mobile-only text-center row tt-layout-product-item{% if item.items_always_in_center %} justify-content-center{% endif %}">
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-40">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/40_a057efda-5f61-45e6-9c1d-ccc9dec3b51d.jpg?v=1677236844" alt="Footwear Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-41">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/41_14f00a56-246b-4feb-8404-185ab73f344c.jpg?v=1677236844" alt="Footwear Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-42">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/42_849033e8-a9f9-4714-bb6a-cbc31d4d9fcf.jpg?v=1677236844" alt="Footwear Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-43">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/43_45b599da-2bbe-44b0-a70b-75874a196533.jpg?v=1677236844" alt="Footwear Last Offer">
              </a>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="collection-container">
              <a target="_blank" rel="noopener noreferrer" href="/collections/men-footwear-44-45">
                <img src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/44-45_8acb656f-7baf-49ad-8bcd-32d3f7329bf3.jpg?v=1677236844" alt="Footwear Last Offer">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<style>
.banner-wrapper img {
  width: 100%;
}
.nav-gender {
  margin-top: 70px;
}
.nav-gender .btn-gender {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  color: #8C8C8C;
  cursor: pointer;
  font-size: 14px;
}
.nav-gender .btn-gender.active {
  color: #12784A;
  border-color: #12784A;
  font-weight: 700;
}
.collection-list {
  margin-top: 40px;
}
.collection-list h5 {
  font-size: 20px;
  line-height: 22px;
  color: #000;
  padding-bottom: 3px;
  text-align: center;
}
.collection-list .arrow-location-tab {
  margin-top: 21px;
}
.collection-container {
  margin: 0 10px;
  cursor: pointer;
}
.collection-list .mobile-only {
  display: none;
}
.nopadding {
  padding: 0;
}
.collection-list .custom-block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-block-title a {
  color: #12784A;
  font-weight: 500;
}
.custom-block-title h5.ct-title {
  padding: 0 !important;
  margin: 0;
}
@media (min-width: 1025px){
  .collection-list .arrow-location-tab .slick-arrow{
    top: 43%;
  }
  .collection-list .arrow-location-tab.no-title .slick-arrow{
    top: 43%;
  }
  .collection-list .arrow-location-tab .slick-prev{
    left: -42px;
  }
  .collection-list .arrow-location-tab .slick-next{
    right: -42px;
  }
}

@media (max-width: 1024px){
  .collection-list .arrow-location-tab .slick-arrow{
    top: 43%;
  }
  .collection-list .arrow-location-tab .slick-prev{
    left: 0px;
  }
  .collection-list .arrow-location-tab .slick-next{
    right: 0px;
  }
}

@media (max-width: 575px) {
  .collection-list h5 {
    text-align: left;
  }
  .collection-container {
    margin: 0;
  }
  .collection-container img {
    width: 140px;
  }
  .dummy-box {
    padding: 41% 0;
  }
  .nav-gender {
    margin-top: 0;
  }
  .collection-list .tt-layout-product-item .tt-description {
    flex-wrap: wrap;
    white-space: normal;
  }
  .collection-list .tt-price span:first-child {
    color: #12784A;
    width: 100%;
  }
  .collection-list .tt-product .tt-description .tt-price {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
  }
  .collection-list .tt-price .old-price {
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    margin-top: 6px;
  }
  .collection-list .tt-layout-product-item::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  .collection-list .tt-layout-product-item::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .collection-list .tt-layout-product-item {
    justify-content: flex-start;
    overflow: auto;
    width: 100vw;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-top: 20px;
  }
  .custom-block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .collection-list .mobile-only {
    display: flex;
  }
  .collection-list .desktop-slider {
    display: none;
  }
  .collection-list .tt-layout-product-item .tt-product {
    margin-top: 0;
  }
}

</style>

<script>
var slickOpt = {
  dots: false,
  arrows: true,
  infinite: true,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  adaptiveHeight: true,
  responsive: [
    {
      breakpoint: 1025,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3
      }
    },
    {
      breakpoint: 791,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    }
  ]
};

document.addEventListener("DOMContentLoaded", function(event) {
  $('#genderWomen').click(function() {
    if (!$(this).hasClass('active')) {
      var womenDeals = $('#womenDeals');
      var menDeals = $('#menDeals');
      $('#genderMen').removeClass('active');
      $(this).addClass('active');
      womenDeals.removeClass('hide');
      womenDeals.addClass('active');
      menDeals.removeClass('active');
      menDeals.addClass('hide');
      $('.tt-carousel-products-js').slick('setPosition');
    }
  });

  $('#genderMen').click(function() {
    if (!$(this).hasClass('active')) {
      var womenDeals = $('#womenDeals');
      var menDeals = $('#menDeals');
      $('#genderWomen').removeClass('active');
      $(this).addClass('active');
      menDeals.removeClass('hide');
      menDeals.addClass('active');
      womenDeals.removeClass('active');
      womenDeals.addClass('hide');
      $('.tt-carousel-products-js').slick('setPosition');
    }
  });
  $('.tt-carousel-products-js').slick(slickOpt);
});
</script>
