<div class="nomargin container-indent" style="margin-bottom: -52px;">
    <div class="tt-about-box" style="background-image: url('//cdn.shopify.com/s/files/1/0516/0760/1336/files/about-us-bg.jpg?v=1608220684');">
        <img class="img-mobile" src="//cdn.shopify.com/s/files/1/0516/0760/1336/files/about-us-bg.jpg?v=1608220684" alt="" />
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="tt-title"><b>{{ 'custom.aboutus_page.title' | t }}</b></h1>
                    <p>
                        <span style="font-weight: 400;">{{ 'custom.aboutus_page.description' | t }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
