<div class="container-indent" id="forgot-password-success" style="display: none">
    <div class="container">
        <div class="tt-login-form">
            <div class="row justify-content-center">
                <div class="col bordered">
                    <div class="tt-item">
                        <div id="sent-mail-recover-password" class="wrap">
                            <h2 class="tt-title mb-2 d-none d-md-block">{{ 'customer.login.reset_password' | t }}</h2>

                            <div class="form-default form-top">
                                <div class="row justify-content-center icon-container" style="margin-bottom: 16px">
                                    <div class="col-auto">
                                        {{ 'mail-envelope.svg' | asset_url | img_tag }}
                                    </div>
                                </div>
                                <div class="row justify-content-center mb-2 description">
                                    <div class="col-12 text-center">Instruksi untuk mengatur ulang password akun voilà.id Anda telah dikirim ke email <span id="send-to"></span></div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <a href="/account/login" class="btn btn-primary-green btn-lg btn-block btn-submit" type="button">OK</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#sticky-header-title').text('Lupa Password');
        const email = $.cookie('reset_password_email');
        if (email) {
            $('#send-to').text(email);
            $('#forgot-password-success').show();
        } else {
            window.location = "/account/login";
        }

        $(window).bind('beforeunload', function(){
            $.removeCookie('reset_password_email', { path: '/' });
        });
    });
</script>
